# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Secrets
.env

# Mac files
.DS_Store

.utils/firebase_service_account.json

.utils/firebase_config.py
utils/firebase_service_account.json
utils/firebase_config.py
